{{ $channel := .Site.Data.podcasts.channel }}
<h3>Podcast abonnieren</h3>

{{ if $channel.platforms.spotify }}
• <a href="https://open.spotify.com/show/{{ $channel.platforms.spotify }}">Spotify</a>
{{ end }}
{{ if $channel.platforms.apple }}
• <a href="https://podcasts.apple.com/ch/podcast/{{ $channel.platforms.apple }}">Apple</a>
{{ end }}
{{ if $channel.platforms.ytmusic }}
• <a href="https://music.youtube.com/playlist?list={{ $channel.platforms.ytmusic }}">YouTube Music</a>
{{ end }}
{{ if $channel.platforms.youtube }}
• <a href="https://youtube.com/{{ $channel.platforms.youtube }}/podcasts">YouTube</a>
{{ end }}
• <a href="https://{{ $channel.website.base }}/{{ $channel.website.feed }}">RSS Feed</a>
